.encabezadoDiv{
    width: 100%;
    height: 200px;
    display: flex;
    background-color: rgb(214, 36, 36);
}
.logoDiv{
    width: 20%;
}
.logoDiv img{
    width: 200px;
}
.menuDiv{
    width: 60%;
    text-align: center;
}
.menuDiv ul{
    list-style: none;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 70px;
    color: white;
}
.menuDiv ul li {
    display: inline-block;
    padding: 10px 40px 10px 40px;
    background-color: black;
}
.menuDiv ul li a{
    text-decoration: none;
    color: white;
}
.menuDiv ul li:hover{
    background-color: gray;
}
.redesDiv{
    width: 20%;
}
.redesDiv ul{
    list-style: none;
    color: white;
    margin-top: 70px;
}
.redesDiv ul li{
    display: inline;
    padding: 5px;
}
.redesDiv img{
    width: 32px;
}