.TarjetaDiv1{
  width: 100%;
  max-width: 800px;
  padding: 10px;
  margin: 10px auto 0 auto;
  border-radius: 5px;
  background:linear-gradient(to bottom right, #4db8ff, #333) ;
  text-align: center;
  order : 999;
  flex: 0 0 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}